.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    margin: auto;
    margin-top: 18vh;
    max-width: 400px;

    footer {
        text-align: center;
        font-size: 10pt;
    }
}